<h2>Authors:</h2>
<p>Kutlay Aky&#252;rek, An&#305;l Y&#252;ksel</p>
<h2>Description:</h2>
<p>With Stigmatic, you can check your social platforms from your home screen on single widget. It is all in one now.</p>
<h2>Change Log:</b></h2>
<p>LinkedIn, Facebook, Call Log, Sms can now be selected.</p>
<p>User can configure sync time.</p>
<p>Each item can be opened in its native app.</p>
<p>User can configure auto update interval.</p>

